// Farben: #2e2e2e / #867772 / rgb(234, 204, 194) / #ebccc2 // #fff /
// rgb(115, 115,  115); 

$link-col: #867772;
$headline-col: rgb(234, 204, 194);
$text-col: rgb(115, 115, 115);
$nav-col: #fff;
$button: #ebccc2;

$small: 1.3rem;
$medium: 1.6rem;
$med-l: 1.9rem;
$large: 4rem;