@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "_variables";
@import "_mixin";
@import "_generals";

// ==================================================================================
//                                      HEADER  
// ==================================================================================
header {
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    img {
        padding: 5vh 0 0 3vw;
    }

    .headerlist {
        padding: 5vh 5vw 0 5vh;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        list-style: none;
        gap: 2vw;

        a {
            font-size: $small;
            text-decoration-color: transparent;
            color: $link-col;
        }

        a:hover {
            text-decoration: underline;
            color: $nav-col;
        }
    }
}

#subscribe {
    padding: 0 3vw 0 0;
}

#lang {
    padding: 0 0 0 2vw;
}

// ==================================================================================
//                              NAVIGATION ASIDE
// ==================================================================================
.navigation {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);

    .navlist {
        list-style: none;

        .navmenu {
            display: flex;
            align-items: center;
            padding: 2vh 0 2vh 0;

            div {
                position: relative;
                margin: 0 33px 0 33px;
                padding: 10px;
                border: 1px solid $link-col;
                border-radius: 50%;
            }

            a {
                font-size: $small;
                color: $link-col;
                padding: 0 0 0 0.5vw;
            }

            a:hover {
                color: $nav-col;
            }
        }

        .active {
            color: $nav-col;

            div::before {
                position: absolute;
                content: '';
                top: 50%;
                left: 50%;
                padding: 15px;
                border: 1px solid $nav-col;
                border-radius: 50%;
                transform: translate(-50%, -50%);
            }

            a {
                color: $nav-col;
            }
        }

        .navstripe {
            padding: 3vh 0;
            border-left: 1px solid $link-col;
            margin: -8px 0 0 44px;
        }

    }
}

// ==============================================================
//                              MAIN HOME
// ==============================================================
.main-home {
    padding: 0 6.55%;

    .home-hero {
        padding: 20vh 0 20vh 0;

        article {
            padding: 0 0 20vh 25vw;
        }

        img {
            width: 100%;
            margin: 0 0 10vh 0;
        }
    }

    .home-design {
        display: grid;
        grid-template: 1fr / 1fr 1fr;
        padding: 0 5% 0 15%;

        img {
            width: 100%;
            max-height: 100%;
            object-fit: cover;
        }

        div:nth-of-type(1) {
            margin: 5vh 5vw 20vh 0;
        }

        div:nth-of-type(2) {
            margin: 15vh 5vw 20vh 0;
        }
    }
}

// ==============================================================
//                     MAIN LOUNGER / EXPERIENCE
// ==============================================================

.main-lounger {
    display: grid;
    grid-template: 1fr / 55% 45%;
    height: 100vh;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    article {
        padding: 25vh 15% 10vh 10%;

        h2 {
            padding: 0 0 10vh 0;
        }
    }
}

// ==============================================================
//                              MAIN SHOP
// ==============================================================

.main-shop {
    display: grid;
    grid-template: 1fr / 55% 45%;
    height: 100vh;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    article {
        text-align: center;
        padding: 10vh 5vw 5vw 5vw;

        img {
            width: 60%;
            height: 60%;
            // height: 
            object-fit: cover;
            margin: 0 0 5vh 0;
        }

        h2 {
            font-size: 3rem;
            padding: 0 0 1vh 0;
        }

        button {
            margin: 2vh 0 0 0;
            padding: 1.5vh 2vw;
            border-radius: 4px;
            font-size: 1.1rem;
            font-weight: 200;
            letter-spacing: 3px;
            background-color: $button;
        }
    }
}

// ==============================================================
//                        MAIN INSPIRATION
// ==============================================================

.main-inspiration {
    padding: 0 15vw;

    .inspiration-video {
        padding: 15vh 0 0 0;
        text-align: center;

        video {
            width: 90%;
        }
    }

    .inspiration-article {
        margin: 20vh 0 20vh 0;

        h3,
        h2 {
            margin: 0 0 2vh 0;
        }

        p {
            margin: 0 0 10vh 0;
        }

        .inspiration-grid {
            display: grid;
            grid-template: 60vh 60vh / 1fr 1fr;
            align-items: center;

            article {
                padding: 0 5%;
            }
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;

        }

    }
}

// ==============================================================
//                        SUBSCRIBE
// ==============================================================

.subscribe {
    display: grid;
    grid-template: 1fr / 55% 45%;
    height: 100vh;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    section {
        padding: 20vh 0 0 10vw;

        h3 {
            padding: 1vh 0 1vh 0;
        }

        input:nth-of-type(1) {
            display: block;
            width: 25vw;
        }

        >input:nth-of-type(2) {
            margin: 1vh 0 1vh 0;
            display: block;
        }

        input:nth-of-type(3) {
            margin: 2vh 0 0 0;
            display: block;
            background-color: #2e2e2e;
            color: $text-col;
            border: 1px solid #fff;
            border-radius: 2px;
            padding: 0.3% 1.2%;
        }

        #inputmail,
        #inputname,
        #contactname,
        #msg {
            width: 80%;
        }

        #contactbutton {
            margin: 2vh 0 0 0;
            display: block;
            background-color: #2e2e2e;
            color: $text-col;
            border: 1px solid #fff;
            border-radius: 2px;
            padding: 0.3% 1.2%;
        }
    }
}

#popupwindow {
    background-color: #1d1d1d;
    position: fixed;
    top: 20vh;
    left: 25vw;
    z-index: 5;
    padding: 15vh 5vw;
    text-align: center;
    border: 1px dotted $link-col;
    border-radius: 3px;
    width: 50vw;
    visibility: hidden;

    button {
        margin: 3vh 0 0 0;
        background-color: #2e2e2e;
        color: $text-col;
        border: 1px dotted #fff;
        border-radius: 2px;
        padding: 0.3% 1.2%;
    }
}

#contactwindow {
    background-color: #1d1d1d;
    position: fixed;
    top: 20vh;
    left: 25vw;
    z-index: 5;
    padding: 15vh 5vw;
    text-align: center;
    border: 1px dotted $link-col;
    border-radius: 3px;
    width: 50vw;
    visibility: hidden;

    button {
        margin: 3vh 0 0 0;
        background-color: #2e2e2e;
        color: $text-col;
        border: 1px dotted #fff;
        border-radius: 2px;
        padding: 0.3% 1.2%;
    }
}

@import "_mediaQueries";