@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Work Sans", sans-serif;
  background-color: #2e2e2e;
}

a {
  text-decoration-color: transparent;
  color: inherit;
}

a:hover {
  transition: all 0.7s linear;
}

h1,
h2 {
  font-size: 4rem;
  color: rgb(234, 204, 194);
  font-weight: 300;
}

h3 {
  font-size: 1.9rem;
  color: rgb(234, 204, 194);
  font-weight: 300;
}

p {
  font-size: medium;
  font-weight: 300;
  line-height: 1.5;
  color: rgb(115, 115, 115);
  padding: 2% 0 0 0;
}

.button {
  background-color: #2e2e2e;
  color: rgb(115, 115, 115);
  border: 1px solid #fff;
  border-radius: 2px;
  padding: 0.3% 1.2%;
}

header {
  position: fixed;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
header img {
  padding: 5vh 0 0 3vw;
}
header .headerlist {
  padding: 5vh 5vw 0 5vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  gap: 2vw;
}
header .headerlist a {
  font-size: 1.3rem;
  text-decoration-color: transparent;
  color: #867772;
}
header .headerlist a:hover {
  text-decoration: underline;
  color: #fff;
}

#subscribe {
  padding: 0 3vw 0 0;
}

#lang {
  padding: 0 0 0 2vw;
}

.navigation {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
}
.navigation .navlist {
  list-style: none;
}
.navigation .navlist .navmenu {
  display: flex;
  align-items: center;
  padding: 2vh 0 2vh 0;
}
.navigation .navlist .navmenu div {
  position: relative;
  margin: 0 33px 0 33px;
  padding: 10px;
  border: 1px solid #867772;
  border-radius: 50%;
}
.navigation .navlist .navmenu a {
  font-size: 1.3rem;
  color: #867772;
  padding: 0 0 0 0.5vw;
}
.navigation .navlist .navmenu a:hover {
  color: #fff;
}
.navigation .navlist .active {
  color: #fff;
}
.navigation .navlist .active div::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  padding: 15px;
  border: 1px solid #fff;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.navigation .navlist .active a {
  color: #fff;
}
.navigation .navlist .navstripe {
  padding: 3vh 0;
  border-left: 1px solid #867772;
  margin: -8px 0 0 44px;
}

.main-home {
  padding: 0 6.55%;
}
.main-home .home-hero {
  padding: 20vh 0 20vh 0;
}
.main-home .home-hero article {
  padding: 0 0 20vh 25vw;
}
.main-home .home-hero img {
  width: 100%;
  margin: 0 0 10vh 0;
}
.main-home .home-design {
  display: grid;
  grid-template: 1fr/1fr 1fr;
  padding: 0 5% 0 15%;
}
.main-home .home-design img {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.main-home .home-design div:nth-of-type(1) {
  margin: 5vh 5vw 20vh 0;
}
.main-home .home-design div:nth-of-type(2) {
  margin: 15vh 5vw 20vh 0;
}

.main-lounger {
  display: grid;
  grid-template: 1fr/55% 45%;
  height: 100vh;
}
.main-lounger img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-lounger article {
  padding: 25vh 15% 10vh 10%;
}
.main-lounger article h2 {
  padding: 0 0 10vh 0;
}

.main-shop {
  display: grid;
  grid-template: 1fr/55% 45%;
  height: 100vh;
}
.main-shop img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-shop article {
  text-align: center;
  padding: 10vh 5vw 5vw 5vw;
}
.main-shop article img {
  width: 60%;
  height: 60%;
  object-fit: cover;
  margin: 0 0 5vh 0;
}
.main-shop article h2 {
  font-size: 3rem;
  padding: 0 0 1vh 0;
}
.main-shop article button {
  margin: 2vh 0 0 0;
  padding: 1.5vh 2vw;
  border-radius: 4px;
  font-size: 1.1rem;
  font-weight: 200;
  letter-spacing: 3px;
  background-color: #ebccc2;
}

.main-inspiration {
  padding: 0 15vw;
}
.main-inspiration .inspiration-video {
  padding: 15vh 0 0 0;
  text-align: center;
}
.main-inspiration .inspiration-video video {
  width: 90%;
}
.main-inspiration .inspiration-article {
  margin: 20vh 0 20vh 0;
}
.main-inspiration .inspiration-article h3,
.main-inspiration .inspiration-article h2 {
  margin: 0 0 2vh 0;
}
.main-inspiration .inspiration-article p {
  margin: 0 0 10vh 0;
}
.main-inspiration .inspiration-article .inspiration-grid {
  display: grid;
  grid-template: 60vh 60vh/1fr 1fr;
  align-items: center;
}
.main-inspiration .inspiration-article .inspiration-grid article {
  padding: 0 5%;
}
.main-inspiration .inspiration-article img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.subscribe {
  display: grid;
  grid-template: 1fr/55% 45%;
  height: 100vh;
}
.subscribe img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.subscribe section {
  padding: 20vh 0 0 10vw;
}
.subscribe section h3 {
  padding: 1vh 0 1vh 0;
}
.subscribe section input:nth-of-type(1) {
  display: block;
  width: 25vw;
}
.subscribe section > input:nth-of-type(2) {
  margin: 1vh 0 1vh 0;
  display: block;
}
.subscribe section input:nth-of-type(3) {
  margin: 2vh 0 0 0;
  display: block;
  background-color: #2e2e2e;
  color: rgb(115, 115, 115);
  border: 1px solid #fff;
  border-radius: 2px;
  padding: 0.3% 1.2%;
}
.subscribe section #inputmail,
.subscribe section #inputname,
.subscribe section #contactname,
.subscribe section #msg {
  width: 80%;
}
.subscribe section #contactbutton {
  margin: 2vh 0 0 0;
  display: block;
  background-color: #2e2e2e;
  color: rgb(115, 115, 115);
  border: 1px solid #fff;
  border-radius: 2px;
  padding: 0.3% 1.2%;
}

#popupwindow {
  background-color: #1d1d1d;
  position: fixed;
  top: 20vh;
  left: 25vw;
  z-index: 5;
  padding: 15vh 5vw;
  text-align: center;
  border: 1px dotted #867772;
  border-radius: 3px;
  width: 50vw;
  visibility: hidden;
}
#popupwindow button {
  margin: 3vh 0 0 0;
  background-color: #2e2e2e;
  color: rgb(115, 115, 115);
  border: 1px dotted #fff;
  border-radius: 2px;
  padding: 0.3% 1.2%;
}

#contactwindow {
  background-color: #1d1d1d;
  position: fixed;
  top: 20vh;
  left: 25vw;
  z-index: 5;
  padding: 15vh 5vw;
  text-align: center;
  border: 1px dotted #867772;
  border-radius: 3px;
  width: 50vw;
  visibility: hidden;
}
#contactwindow button {
  margin: 3vh 0 0 0;
  background-color: #2e2e2e;
  color: rgb(115, 115, 115);
  border: 1px dotted #fff;
  border-radius: 2px;
  padding: 0.3% 1.2%;
}

@media only screen and (max-width: 576px) {
  header img {
    padding: 2vh 0 0 1vw;
  }

  .navigation {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
  }
  .navigation .navlist {
    list-style: none;
  }
  .navigation .navlist .navmenu {
    display: flex;
    align-items: center;
    padding: 2vh 0 2vh 0;
  }
  .navigation .navlist .navmenu div {
    margin: 0 15px 0 4px;
    padding: 6px;
  }
  .navigation .navlist .navmenu a {
    padding: 0 0 0 -5vw;
  }
  .navigation .navlist .active {
    color: #fff;
  }
  .navigation .navlist .active div::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }
  .navigation .navlist .active a {
    color: #fff;
  }
  .navigation .navlist .navstripe {
    padding: 3vh 0;
    border-left: 1px solid #867772;
    margin: -8px 0 0 10px;
  }

  .main-home .home-design {
    display: grid;
    grid-template: 2fr/1fr;
    padding: 0 5% 0 15%;
  }
  .main-home .home-design div:nth-of-type(1) {
    margin: 0 5vw 5vh 2vw;
  }
  .main-home .home-design div:nth-of-type(2) {
    margin: 15vh 5vw 20vh 2vw;
  }

  .main-lounger {
    grid-template: 1fr/1fr;
  }
  .main-lounger img {
    padding: 12vh 0 0 0;
  }
  .main-lounger article {
    padding: 5vh 15% 10vh 25%;
  }
  .main-lounger article h2 {
    padding: 0 0 5vh 0;
  }

  .main-shop {
    grid-template: 1fr/1fr;
  }

  .main-inspiration {
    padding: 0 10vw 0 25vw;
  }
  .main-inspiration .inspiration-video video {
    width: 100%;
  }
  .main-inspiration .inspiration-article {
    margin: 10vh 0 20vh 0;
  }
  .main-inspiration .inspiration-article h3,
.main-inspiration .inspiration-article h2 {
    margin: 0 0 3vh 0;
  }
  .main-inspiration .inspiration-article p {
    margin: 0 0 5vh 0;
  }
  .main-inspiration .inspiration-article .inspiration-grid {
    grid-template: repeat(4, 1fr)/1fr;
  }

  .subscribe {
    display: grid;
    grid-template: 1fr/1fr;
    height: 100vh;
  }
  .subscribe section {
    padding: 5vh 0 0 23vw;
  }

  #popupwindow {
    position: absolute;
    padding: 10vh 2vw;
  }

  #contactwindow {
    position: absolute;
    padding: 10vh 2vw;
  }
}

/*# sourceMappingURL=style.css.map */
